body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}

.navbar-brand{
	padding-top: 0;
}

.iamadoctor-button {
	background-color: white;
	border: 2px solid green !important;
	color: green;
}

.navbarshadow {
	position: fixed;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 15px;
	background: white;
}

.div-green {
	background-color: #24b06a;
	min-height: 10px;
}

.search-tab{
	text-align: center;
	border-bottom: 0;
}

.search-tab>li {
	background-color: #f6f8f8;
	float: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: -4px;
	margin-bottom: -4px;
	-moz-box-shadow: inset 8px -3px 6px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 8px -3px 6px -3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 8px -3px 6px -3px rgba(0, 0, 0, 0.3);
}

.search-tab>li.first-child {
	-moz-box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);
}

.search-tab>li.active {
	background-color: #f6f8f8;
	zoom: 1.04;
	/*-moz-box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);*/
	/*-webkit-box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.3);*/
}

.search-tab>li>a {
	color: rgb(139, 138, 139);
	padding-left: 40px;
	padding-right: 40px;
}

.search-tab>li.active>a, .search-tab>li.active>a:focus, .search-tab>li.active>a:hover {
	border-bottom: 5px solid #f37023;
	color: rgb(36, 176, 106);
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

/*.no-shadow{*/
	/*-moz-box-shadow: 0 0 ;*/
	/*-webkit-box-shadow: 0 0;*/
	/*box-shadow: 0 0;*/
/*}*/

/*todo : remove this*/
.search-box-shadow {
	position: relative;
	-moz-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0,0.6);
	-webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .6);
	box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .6);
	background: white;
}

.search-tab-content {
	/*width: 80%;*/
	/*overflow-x: visible;*/
	margin: auto;
	-moz-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0,0.6);
	-webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .6);
	box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .6);
	background-color: #f6f8f8;
	padding: 0 20px;
}

.search-tab-content.active{
	display: inline-block;
}

.search-button{
	background-color: #f37023;
	color: #f6f8f8;
	-moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .6);
	box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .6);
	padding-left: 20px;
	padding-right: 20px;
	border: 0;
}

.search-button:hover, .search-button:active, .search-button.hover {
	background-color: #fcb317;
	color: #f6f8f8;
}

/*todo : remove this*/
.more-option{
	/*background-color: #e6e7e9;*/
	color: darkgreen;
	padding: 3px;
	cursor: pointer;
}

.main-footer {
	background: #24b06a;
	color: #f0f1d6;
}

.search-result-box:hover{
	/*background-color: #fcb317;*/
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.7);
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.search-result-box{
	padding: 2px 5px 2px 5px !important;
}


.box-shadow-zero {
	min-height: 115px;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.custom-margin-top-bottom{
	margin: 5px 0 5px 0;
}

.vertical-align-top{
	vertical-align: top;
}

.border-zero{
	border: 0 solid white !important;
}

.margin-zero{
	margin-bottom: 0;
	margin-top: 0;
}

.margin-s{
	margin-bottom: 4px;
	margin-top: 2px;
}

.border-green{
	border: 1px solid #66bc6b !important;
}

.affix {
	top: 150px;
	max-width: 80% !important;
	min-width: 27% !important;
	/*left: 5px;*/
	/*right: 5px;*/
}

.affix2>.affix {
	top: 81px;
	max-width: 86% !important;
	min-width: 27% !important;
	z-index: 1;
}

.star-icon {
	color: #ddd;
	font-size: 2em;
	position: relative;
}
/*.star-icon.full:before {*/
/*text-shadow: 0 0 2px rgba(0,0,0,0.7);*/
/*color: #FDE16D;*/
/*content: '\2605'; !* Full star in UTF-8 *!*/
/*position: absolute;*/
/*left: 0;*/
/*}*/
.star-icon.full:before {
	text-shadow: 0 0 2px rgba(0,0,0,0.7);
	color: #FDE16D;
	position: absolute;
	left: 0;
}
.star-icon.three:before {
	content: '\2605\2605\2605'; /* Full star in UTF-8 */
}
.star-icon.four:before {
	content: '\2605\2605\2605\2605'; /* Full star in UTF-8 */
}
.star-icon.five:before {
	content: '\2605\2605\2605\2605\2605'; /* Full star in UTF-8 */
}
.star-icon.half:before {
	text-shadow: 0 0 2px rgba(0,0,0,0.7);
	color: #FDE16D;
	content: '\2605'; /* Full star in UTF-8 */
	position: absolute;
	left: 0;
	width: 50%;
	overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
	.star-icon {
		font-size: 50px;
		line-height: 34px;
	}
}

.weekday-active {
	border: solid 1px #3b9349;
	padding: 2px;
	color: #3b9349;
}

.weekday-inactive {
	border: solid 1px #bcbcbc;
	padding: 2px;
	color: #bcbcbc;
}

.maps{
	width: 100%;
	min-height: 300px;
}

.doctor-panel{
	overflow-y: auto;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.doctor-panel-image {
	margin: 5px 20px 15px 15px;
	width: 150px;
	height: 150px;
}

.profile-tab>li>a {
	color: rgba(0, 0, 0, 0.34);
}

.profile-tab>li.active>a, .profile-tab>li.active>a:focus, .profile-tab>li.active>a:hover {
	border-bottom: 3px solid green;
}

.profile-map{
	border-bottom: 3px solid #00a65a;
	border-right: 3px solid #00a65a;
	border-left: 3px solid #00a65a;
	box-shadow: 0 11px 12px 12px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 11px 12px 12px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 11px 12px 12px rgba(0,0,0,0.1);
}

.clr-grn{
	color: green;
}

.size-l{
	font-size: 20px;
}

.size-xl{
	font-size: 28px;
}

.blue-bullet{
	list-style-type:disc;
	color: green;
}

.blue-bullet>li>span {
	color: black;
}

hr{
	border-top: 1px solid #BDE4C7;
}

.easy-autocomplete-container ul {
	top: 40px;
}

#doctorNameDiv>.easy-autocomplete {
	width: auto !important;
}

.center-aligned {
	text-align: center;
}